*{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
   
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{
    text-decoration: none;
    color: #1d231d;
    
}
.navbar-links a:hover{
    text-decoration: underline;
    color: #1d231d;
}
.navbar-menu{
    display: none;
}
.side-navbar{
      background-color: #1d231d;

    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
    display: none;
    
    
}
.side-navbar-link{
    margin-bottom: 40px;
    
}
.side-navbar-links a{
    color: white;
}
.side-navbar-links a:hover{
    text-decoration: underline;
}
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}
.header-image{
    padding-top: 10px;
}
.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10;
    margin-top: 20px;
    background-color: #1d232c;
    color: white;
    cursor: pointer;

}
.service{
padding: 20px;
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.service-container-2 div{
    background-color:lightgrey;
    border-radius: 5px;
    padding: 10px;
}
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}
.new-arrival button{
    padding-left:10%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-top: 5%;
    margin-top: 10px;
    color:#1d232c;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}
.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}
.news button{
    margin-top: 10px;
    color: #f2f4f7;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    border: none;

}
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: #f2f4f7;
}
.product-section{
    margin-top: 20px;

}
.product-search{
    width: 80%;
    border:solid black 2px ;
    border-radius: 20px;
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   margin: auto;
 }
 .product-search input{
    border: none;
    background-color: transparent;
    width: 100%;

 }
  .product-search input:focus{
    outline: none;
  }
  .products{
    padding: 20px;
    display: flex;
    gap: 20px;
     flex-wrap: wrap;
    justify-content: space-around;
   
  }
  .products-box{
    text-align: center;
    flex-basis: 20%;
  }
.products-box img{
    border-radius: 10px;
}
.contect-container{
    padding-top: 30px;
    padding: auto;
    padding-left: 40%;
    background-color:black ;
    color: #f2f4f7;
    
    
}
.contect-container div{
    margin-top: 15px;
    
}
.contect-container input{
    width: 60%;
    height: 40px;
    
}
.textarea{
     width: 80%;
    height: 70px;
}

.button{
margin-top:50px;

background-color: aqua;
padding: 10px;
border-radius: 20px;
border: none;
border: solid blue 2px;

}
    


/* media query */

@media  screen and (max-width:600px) {
    .navbar-menu{
    display: block;
    
}
.navbar-links{
    display: none;
}
.header-image{
    display:none;
}
.service-container-1{
    display: none;
}
.service-container-2{
    flex-direction: column;
}

}
